page-forgot-pass {

    .email{

        background: #EDECFD; 
        padding: 5px;
        // border-radius: 10px; 
      
       
    }  

    body{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 

    } 

    ion-icon{margin: 6px;}
    
   
}
